
@import url(http://fonts.googleapis.com/earlyaccess/nunitovfbeta.css);

body{
    font-family: 'Nunito VF Beta', sans-serif;
    background-image: url('/assets/login.jpg');
    background-size: cover;
    background-repeat: no-repeat;
}
.center-div{
    padding-top: 10%;
}

.btn.btn-success{
    padding-top: 4em;
    padding: .4em;
}

form{
    padding: 0 3em ;
}
#login .title>span{
    font-size: .8em;
}